<HTML>
  <head> </head>
  <title> Test </title>
  <link rel = "stylesheet" type = "text/css" href = "/css/core.css" />
  <body>
    <h2>Upload File</h2>
    <form method="post" enctype="multipart/form-data" action="/success">
      Who are you: <input type="text" name="username" /><br />
      What's your age: <input type="text" name="age" /><br />
      Choose file1 to upload:
      <input type="file" name="file1" /> </br> </br>
      Choose file2 to upload:
      <input type="file" name="file2" /> </br> </br>
      Choose file3 to upload:
      <input type="file" name="file3" /> </br> </br>
      Choose file4 to upload:
      <input type="file" name="file4" /> </br> </br>
      <input type="submit" value="SEND" /> </br> </br>
      <img src="/resources/img1.jpg" alt="testImage" />
    </form>
  </body>
</HTML>
